<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Sangue - HOSPITAL_MED</title>
</head>
<body>
    <h1>Cadastro de Sangue - HOSPITAL_MED</h1>

    <form action="/bancosSangue" method="post">
    <label for="tipo_sangue">Tipo do Sangue</label>
    <input type="text" name="tipo_sangue" placeholder="Tipo do Sangue" required>
    <label for="quantidade">Quantidade</label>
    <input type="number" name="quantidade" placeholder="Quantidade do Sangue" required>
    <button type="submit">Cadastrar</button>
    </form>

    <a href="/">Voltar</a>

</body>
</html>