<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento - HOSPITAL_MED</title>
</head>
<body>
    <h1>Cadastro Agendamento de Consulta - HOSPITAL_MED</h1>

    <form action="/agendamentos" method="post">
    <label for="id_paciente">ID do Paciente</label>
    <input type="number" name="id_paciente" placeholder="ID do Paciente" required>
    <label for="hora_inicio">Horário da Consulta</label>
    <input type="date" name="hora_inicio" placeholder="Horário" required>
    <label for="id_medico">ID do Médico</label>
    <input type="number" name="id_medico" placeholder="ID do Médico" required>
    <button type="submit">Cadastrar</button>
    </form>

    <a href="/">Voltar</a>

</body>
</html>