<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes - CONSULT_MED</title>
</head>
<body>
    <h1>Cadastro Pacientes - CONSULT_MED</h1>

    <form action="/pacientes" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" placeholder="Nome do Paciente" required>
    <label for="idade">Idade</label>
    <input type="number" name="idade" placeholder="Idade do Paciente" required>
    <label for="cpf">CPF</label>
    <input type="text" name="cpf" placeholder="CPF do Paciente" required>
    <button type="submit">Cadastrar</button>
    </form>

    <a href="/">Voltar</a>

</body>
</html>