<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médicos - CONSULT_MED</title>
</head>
<body>
    <h1>Cadastro Médicos - CONSULT_MED</h1>

    <form action="/medicos" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" placeholder="Nome do Médico" required>
    <label for="idade">Idade</label>
    <input type="number" name="idade" placeholder="Idade do Médico" required>
    <label for="Especialização">Especialização</label>
    <input type="text" name="Especialização" placeholder="Especialização do Médico" required>
    <button type="submit">Cadastrar</button>
    </form>

    <a href="/">Voltar</a>

</body>
</html>