<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos - CONSULT_MED</title>
</head>
<body>
    <h1>Detalhamento de Consulta - CONSULT_MED</h1>

    <p>Id Consulta: {{agendamento.id_ag}}</p>
    <br>
    <p>Nome: {{agendamento.nome}}</p>
    <br>
    <p>Horário de início: {{agendamento.hora_inicio}}</p>
    <br>
    <p>Especialização Agendada: {{agendamento.especializacao}}</p>

    <a href="/agendamentos">Voltar</a>
</body>
</html>