<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirurgia - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento de Cirurgia - HOSPITAL_MED</h1>

    <p>Id Cirurgia: {{cirurgia.id}}</p>
    <br>
    <p>Nome do paciente: {{cirurgia.nome_paciente}}</p>
    <br>
    <p>Tipo da Cirurgia: {{cirurgia.tipo_cirurgia}}</p>
    <br>
    <p>data_cirurgia: {{cirurgia.data_cirurgia}}</p>
    <br>
    <a href="/cirurgias">Voltar</a>
</body>
</html>