<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internamento - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento de Internamento - HOSPITAL_MED</h1>

    <p>Id Internamento: {{internamento.id}}</p>
    <br>
    <p>Nome do Paciente: {{internamento.nome_paciente}}</p>
    <br>
    <p>Quarto: {{internamento.quarto}}</p>
    <br>
    <p>Data de data_entrada: {{internamento.data_entrada}}</p>
    <br>
    <a href="/internamentos">Voltar</a>
</body>
</html>