<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSULT_MED - CRUD</title>
</head>
<body>
    <h1>CRUD - CONSULTAS MÉDICAS</h1>

    <a href="/pacientes">Listar Pacientes</a>
    <a href="/pacientes/novo">Cadastrar Pacientes</a>
    <br>
    <a href="/medicos">Listar Médicos</a>
    <a href="/medicos/novo">Cadastrar Médicos</a>
    <br>
    <a href="/agendamentos">Listar Agendamentos</a>
    <a href="/agendamentos/novo">Cadastrar Agendamentos de Consultas</a>
</body>
</html>