<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internamento - HOSPITAL_MED</title>
</head>
<body>
    <h1>Cadastro de Internamentos - HOSPITAL_MED</h1>

    <form action="/internamentos" method="post">
    <label for="id_paciente">ID do paciente</label>
    <input type="text" name="id_paciente" placeholder="ID do Paciente" required>
    <label for="medico_resp">Médico Responsável</label>
    <input type="text" name="medico_resp" placeholder="Médico Responsável" required>
    <label for="quarto">Quarto</label>
    <input type="number" name="quarto" placeholder="Quarto do Paciente" required>
    <label for="data_entrada">Data</label>
    <input type="date" name="data_entrada" placeholder="Data de Entrada" required>
    <button type="submit">Cadastrar</button>
    </form>

    <a href="/">Voltar</a>

</body>
</html>