<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento de Paciente - HOSPITAL_MED</h1>

    <p>Id Paciente: {{paciente.id}}</p>
    <br>
    <p>Nome: {{paciente.nome}}</p>
    <br>
    <p>Idade: {{paciente.idade}}</p>
    <br>
    <p>CPF: {{paciente.cpf}}</p>
    <br>
    <a href="/pacientes">Voltar</a>
</body>
</html>