<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOSPITAL_MED - SERVIÇOS</title>
</head>
<body>
    <h1>SERVIÇOS - HOSPITAL MÉDICO</h1>

    <a href="/pacientes">Listar Pacientes</a>
    <a href="/pacientes/novo">Cadastrar Pacientes</a>
    <br>
    <a href="/medicos">Listar Médicos</a>
    <a href="/medicos/novo">Cadastrar Médicos</a>
    <br>
    <a href="/agendamentos">Listar Agendamentos</a>
    <a href="/agendamentos/novo">Cadastrar Agendamentos de Consultas</a>
    <br>
    <a href="/bancosSangue">Listar Bancos de Sangue</a>
    <a href="/bancosSangue/novo">Cadastrar Bancos de Sangue</a>
    <br>
    <a href="/internamentos">Listar Internamentos</a>
    <a href="/internamentos/novo">Cadastrar Internamentos</a>
    <br>
    <a href="/cirurgias">Listar Cirurgias</a>
    <a href="/cirurgias/novo">Cadastrar Cirurgias</a>
    <br>
    <a href="/prontuarios">Listar Prontuarios</a>
    <a href="/prontuarios/novo">Cadastrar Prontuarios</a>
</body>
</html>